html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #3399ff;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #3399ff;
}

.button{
    border: 1px solid #3399ff;
    background-color: #99ccff;
    position:relative;
}

#gridContainer{
    margin:auto;
    position: absolute;
    display : none;
    top: 0; left: 0; bottom: 0; right: 0;
}

.t1{
    border: 1px solid #66ccff;
    background-color: #ccffff;
    position:absolute;
}

.tb{
    border: 1px solid #66ccff;
    background-color: #ccffff;
    position:absolute;
}

.te{
    border: 1px solid #009933;
    background-color: #009933;
    position:absolute;
}

.tx{
    border: 1px solid #000;
    background-color: #000;
    position:absolute;
}

#Player{
    background-color: #ffcc00;
    position:absolute;
}