html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #3399ff;
}

#titleName{
    margin: auto;
    font-size: 3em;
    font-family: 'Hind', sans-serif;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:absolute;
}

#menu{
    height: 100%;
    width: 100%;
    background-color: #3399ff;
}

#welcome{
    height: 1.5em;
    width: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Hind', sans-serif;
    vertical-align: center;
    text-align: center;
    font-size: 1.25em;
    position: absolute;
    display: none;
}

#welcome2{
    height: 1.5em;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Hind', sans-serif;
    vertical-align: center;
    text-align: center;
    font-size: 1.25em;
    position: absolute;
    display: none;
}

#instruct{
    height: 1.5em;
    width: 300px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Hind', sans-serif;
    vertical-align: center;
    text-align: center;
    font-size: 1.25em;
    position: absolute;
    display: none;
}

#instruct2{
    height: 1.5em;
    width: 300px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Hind', sans-serif;
    vertical-align: center;
    text-align: center;
    font-size: 1.25em;
    position: absolute;
    display: none;
}

.continue{
    height: 1.5em;
    width: 200px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Hind', sans-serif;
    vertical-align: center;
    text-align: center;
    font-size: 2em;
    background-color: #009933;
    border: 1px solid #009933;
    cursor: pointer;
    position: absolute;
}

div#cont.continue{
    top: 70%;
    cursor: pointer;
    display: none;
}

#winScreen{
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #009933;
    display: none;
    z-index: 2;
    position: absolute;
}

#loseScreen{
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #009933;
    display: none;
    z-index: 2;
    position: absolute;
}

.button{
    height: 200px;
    width: 200px;
    font-family: 'Hind', sans-serif;
    font-size: 3em;
    cursor: pointer;
    line-height: 200px;
    vertical-align: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3399ff;
    background-color: #99ccff;
    position:absolute;
}

#gridContainer{
    margin:auto;
    position: absolute;
    display : none;
    top: 0; left: 0; bottom: 0; right: 0;
}

.t1{
    border: 1px solid #66ccff;
    background-color: #ccffff;
    position:absolute;
}

.t0{
    border: 1px solid #66ccff;
    background-color: #ccffff;
    position:absolute;
}

.te{
    border: 1px solid #009933;
    background-color: #009933;
    position:absolute;
}

.tx{
    border: 1px solid #000;
    background-color: #000;
    position:absolute;
}

#Player{
    background-color: #ffcc00;
    position:absolute;
}